
<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation" >
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

       <%= form.fields_for :user do |f| %>
    <div class="field">
    <%= f.label "email" %>
    <%= f.text_field :email, :class => "form-control" %>
  </div>


  <div class="field">
    <%= f.label "password" %>
    <%= f.text_field :password, :class => "form-control" %>
  </div>
  <% end %>

  <div class="form-row">
    <div class="form-group col-md-6">
      
    <%= form.label :first_name %>
    <%= form.text_field :first_name, :class => "form-control" %>
  </div>
  
    <div class="form-group col-md-6">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, :class => "form-control"  %>
  </div>
  </div>

  <% if current_users_role == "employee" %>
      <div class="form-group">
    <% form.label :ssn %>:
    <%= :ssn %>
  </div>
<% else %>
    
  <div class="form-group">
    <%= form.label :ssn %>
    <%= form.text_field :ssn, :class => "form-control"  %>
  </div>
  <% end %>


  <div class="form-group">
    <%= form.label :date_of_birth %>
    <%= form.text_field :date_of_birth, :type => "date", :id => "date", :class => "form-control" %>
  </div>  

 
  <div class="form-row">
    <div class="form-group col-md-6">
    <%= form.label :phone %>
    <%= form.text_field :phone, :class => "form-control"  %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :role %>
    <%= form.select :role, options_for_select([["employee"],["manager"],["admin"]]), :class => "dropdown-menu" %>
  </div>
  
</div>

  <div class="form-group col-md-6">
    Active
    <%= form.select :active, options_for_select([["true"],["false"]]), :class => "dropdown-menu" %>
  </div>

  <div class="col-auto my-1">
    <center>
    <%= form.submit "Submit", :class => 'btn btn-outline-warning' %>
  </center>
  </div>
  </form>
<% end %>

