<%= form_with(model: assignment, local: true) do |form| %>
  <% if assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <div class="form-row">
        <div class="form-group col-md-6">
    <%= form.label :store_id %>
    <%= form.text_field :store_id, :class => "form-control", :type => "number" %></div>
        <div class="form-group col-md-6">
    <%= form.label :employee_id %>
    <%= form.text_field :employee_id, :class => "form-control", :type => "number" %></div>
    </div>
    
  <div class="form-row">
    <div class="form-group col-md-6">
    <%= form.label :start_date %>
    <%= form.text_field :start_date, :type => "date", :class => "form-control", :value => "10/24/1984" %>
  </div>

    <div class="form-group col-md-6">
    <%= form.label :end_date %>
    <%= form.text_field :end_date, :type => "date", :class => "form-control", :value => "10/24/1984" %>
  </div>
  </div>

  <div class="form-group">
    <%= form.label :pay_level %>
    <%= form.text_field :pay_level, :class => "form-control", :type => "number" %>
  </div>
    </div>
    
    
    
  
</div>





  <div class="col-auto my-1">
    <center>
    <%= form.submit"Submit", :class => 'btn btn-outline-info' %>
    </center>
  </div>
<% end %>
