<p id="notice"><%= notice %></p>

<h1>Assignments</h1>
<div align="right">
<%= link_to 'New Assignment', new_assignment_path %>
</div>
<br>
<% if current_user.role == "admin" %>
<%= link_to 'All', assignments_path %>|
<%= link_to 'Current', assignments_current_path %>|
<%= link_to 'Past', assignments_past_path %>|
<%= link_to 'By Employee', assignments_by_employee_path %>|
<%= link_to 'By Store', assignments_by_store_path %>|
<%= link_to 'Chronological', assignments_chronological_path %>|
<%= link_to 'For Store', assignments_for_store_path %>|
<%= link_to 'For Employee', assignments_for_employee_path %>|
<%= link_to 'For Pay Level', assignments_for_pay_level_path %>|
<%= link_to 'For Role', assignments_for_role_path %>
<% else %>
You are not an Admin
<% end %>
<br>
<br>
<table class="table">
  <thead>
    
    <tr>
      <th>Store</th>
      <th>Employee</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Pay level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.chronological.each do |assignment| %>
      <tr>
        <td><%= assignment.store_id %></td>
        <td><%= assignment.employee_id %></td>
        <td><%= assignment.start_date %></td>
        <td><%= assignment.end_date %></td>
        <td><%= assignment.pay_level %></td>
        <td><%= link_to 'Show', assignment %></td>
        <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
        <td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

