<%= form_with(model: flavor, local: true) do |form| %>
  <% if flavor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(flavor.errors.count, "error") %> prohibited this flavor from being saved:</h2>

      <ul>
      <% flavor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, :class => "form-control" %>
  </div>

  <div class="form-group">
    Inactive
    <%= form.radio_button :active, false, :value => true %>
  </div>
  <div class="col-auto my-1">
    <center>
    <%= form.submit "Submit", :class => 'btn btn-outline-warning' %>
  </center>
  </div>
  
<% end %>
