<%= form_with(model: store, local: true) do |form| %>
  <% if store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% store.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group col-md-6">
    <%= form.label :name %>
    <%= form.text_field :name , :class => "form-control" %>
  </div>

    <div class="form-group col-md-6">
    <%= form.label :street %>
    <%= form.text_field :street , :class => "form-control" %>
  </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
    <%= form.label :city %>
    <%= form.text_field :city, :class => "form-control"  %>
  </div>

    <div class="form-group col-md-6">
    <%= form.label :state %>
    <%= form.select :state, options_for_select([["Ohio","OH"],["Pennsylvania","PA"],["West Virginia", "WV"]]), :class => "form-control" %>
  </div>
</div>
  <div class="form-group">
    <%= form.label :zip %>
    <%= form.text_field :zip, :type => "number", :class => "form-control"  %>
  </div>

<div class="form-group">
      <%= form.label :phone %>
    <%= form.text_field :phone, :class => "form-control"  %>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, :class => "form-control"  %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, :class => "form-control"  %>
  </div>
  </div>

  <div class="form-group col-md-6">
    Active
    <%= form.select :active, options_for_select([["true"],["false"]]), :class => "dropdown-menu" %>
  </div>


  <div class="col-auto my-1">
    <center>
    <%= form.submit "Submit", :class => "btn btn-outline-danger" %>
    </center>
  </div>
<% end %>
