<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, :class => "form-control" %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, :class => "form-control" %>
  </div>

  <div class="form-group col-md-6">
    Active
    <%= form.select :active, options_for_select([["true"],["false"]]), :class => "dropdown-menu" %>
  </div>

  <div class="actions"><div align="center">
    <%= form.submit "Submit", :class => 'btn btn-outline-warning' %>
  </div></div>
<% end %>
