<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @job.name %>
</p>

<p>
  <strong>String:</strong>
  <%= @job.string %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Text:</strong>
  <%= @job.text %>
</p>

<p>
  <strong>Active:</strong>
  <%= @job.active %>
</p>

<p>
  <strong>Boolean:</strong>
  <%= @job.boolean %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
