<%= form_with(model: shift, local: true) do |form| %>
  <% if shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shift.errors.count, "error") %> prohibited this shift from being saved:</h2>

      <ul>
      <% shift.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :assignment_id %>
    <%= form.text_field :assignment_id %>
  </div>


  <div class="field">
    <%= form.label :date %>
    <%= form.text_field :date, :type => "date", :class => "form-control", :value => "10/24/1984" %>
  </div>


  <div class="field">
    <%= form.label :start_time %>
    <%= form.text_field :start_time, :type => "time", :class => "form-control", :value => "08:00 AM" %>
  </div>


  <div class="field">
    <%= form.label :end_time %>
    <%= form.text_field :end_time, :type => "time", :class => "form-control", :value => "12:00 PM"  %>
  </div>


  <div class="field">
    <%= form.label :notes %>
    <%= form.text_field :notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
