<!DOCTYPE html>
<html>
  
      <title>Scoops n' Smiles</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


  <head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  


      <font face="Comic Sans MS">
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
     
    
    <a href="/">Home</a>
    <%= link_to "Stores", stores_path %>
    
    <% if logged_in? && (current_users_role == "manager" || current_users_role == "admin" || current_users_role == "employee") %>
    <%= link_to "Flavors", flavors_path %>
    <%= link_to "Jobs", jobs_path %>
    <% end %>
    
    <% if logged_in? && (current_users_role == "manager" || current_users_role == "admin") %>
    <%= link_to "Employees", employees_path %>
    <%= link_to "Assignments", assignments_path %>
    <%= link_to "Shifts", shifts_path %>
    <%= link_to "Assign Flavor to Store", store_flavors_path %>
    <% end %>
    
    <% if logged_in? && current_users_role == "admin" %>
    <%= link_to "Assign to Job", shift_jobs_path %>
    <%= link_to "Users", users_path %>
    <% end %>

    <% if logged_in? %>
      <%= link_to "My Info", users_path+"/"+(@current_user.id).to_s %>
      <%= link_to "Logout", logout_path %>
    <% else %>
      <%= link_to "Login", login_path %>
    <% end %>
</div>

    <span style="font-size:30px; position:absolute; right:0px;cursor:pointer" onclick="openNav()">&#9776;</span>

  
  </head>

    <%= yield %>
      <footer>
<div class="row">
<div class="col s8 center">
<%= render partial: 'partials/footer' %>
</footer> 
  

</html>

